[toolchain]

[features]
seeds = false
skip-lint = false

[programs.localnet]
pulse = "HkUzsGxmAhjh6UpdBc6ECsN8pj6D8poX7H7yLvuMRLtS"

[programs.devnet]
pulse = "HkUzsGxmAhjh6UpdBc6ECsN8pj6D8poX7H7yLvuMRLtS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
